# ignore R session & data files
.Rproj.user
.Rhistory
.RData
.Ruserdata
# ignore select data folders (GLDAS, NLDAS, etc.)
data/GLDAS/
data/NLDAS/
data/MODIS/
data/misc_to_del/
data/StreamLight/
# ignore .rds files
*.rds