# ignore R session & data files
.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
# ignore select data folders (GLDAS, NLDAS, etc.)
data/GLDAS/
data/NLDAS/
data/metab_model_outputs/
data/misc_to_del/
data/metab_model_inputs/old_to_delete
# ignore old code & data (that may later be deleted!)
code/old_code_toDEL
data/OLD_metab_model_outputs
# ignore .rds and .png files
*.rds
*.png
# ignore figure files for HABs symposium
figures/HABS_symp_figures